*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Task 1 */
.center-div {
    width: 300px;
    height: 300px;
    background-color: rgb(110, 108, 108);
    margin: 50px auto 0;
    border-radius: 20PX;
    box-shadow: inset;
}


/* Task 2 */
.red-box, .blue-box {
    width: 200px;
    height: 200px;
    display: inline-block;
     margin: auto;
}

.red-box {
    background-color: red;
    border-radius: 20px;
}

.blue-box {
    background-color: blue;
    border-radius: 20px;
}


/* Task 3 */
.styled-heading {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
     margin: auto;
}

/* Task 4 */
body {
    background-image: url('https://wallpaperbat.com/img/335692-anime-anime-wallpaper-top-free-anime-anime-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     margin: auto;
}


/* Task 5 */
.card {
    padding: 20px;
    width: 300px;
    background: rgb(59, 182, 216);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
     margin: auto;
}

/* Task 6 */
.hover-btn {
    background-color: rgb(15, 193, 196);
    color: rgb(2, 2, 2);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     margin: auto;
}

.hover-btn:hover {
    background-color: rgb(148, 154, 148);
}


/* Task 7 */
.profile-box {
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
    width: 400px;
    border-radius: 10px;
     margin: auto;
     cursor: pointer;
}

.profile-box img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
     margin: auto;
}

/* Task 8 */
.nav-menu a {
    display: inline-block;
    background-color: #f3ecec;
    color: rgb(3, 3, 3);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
   margin-left: 200px;
   
}

.nav-menu a:hover {
    background-color: #555;
}


/* Task 9 */
.price-tag {
    font-size: 24px;
    color: rgb(10, 10, 10);
    background-color: #089fc1;
    padding: 10px 20px;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}



/* Task 10 */
.color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
    border-radius: 20px;
}

.red { background-color: red; }
.green { background-color: aqua; }
.blue { background-color: black; }
.yellow { background-color: yellow; }
.purple { background-color: purple; }

